@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: indianred;
}


h1 {
    background-color: indigo;
    color: floralwhite;
    font-size: 2em;
    border: 10px double indianred;
    text-align: center;
    margin: 10px;
    padding: 20px;

    .quote {
        font-size: .4em;
        color: mediumpurple;
        margin: 2px;
        padding: 10px;
    }
}

section {
    @include grid-row();

    h2 {
        @include grid-column(8);
        text-align: center;
        color: floralwhite;
        margin-right: 30px;
        padding: 1rem;
        border-bottom: 1px solid floralwhite;
        border-top: 1px solid floralwhite;
    }

    #masks {
        @include grid-column(8);
        @include grid-row();
        margin-right: 30px;

        li {
            @include grid-column(4);
            list-style-type: none;
            padding-left: 0rem;
            padding-right: 0rem;
            padding-top: 3rem;
            padding-bottom: 1rem;
            background-color: mediumpurple;
            border: 5px solid indianred;


            p { 
                color: floralwhite;
                text-align: center;
            }

            .add {
                background-color: indigo;
                color: floralwhite;
                padding: 5px;
                border-radius: 8px;
                position: relative;
                margin-left: 30%;
            }

            img {
                margin-left: 30%;
            }
        }
    }

    #cartContainer {
        @include grid-column(4);
        width: 20%;
        height: 580px;
        background-color: floralwhite;
        margin-right: 50px;

        #cart {
            display: block;
            height: 70%;
            padding: 0;
            border: 2px double indianred;
            overflow-y: scroll;

            li {
                border-bottom: 1px dotted indigo;
                p {
                    margin: 0px;
                    margin-left: 10px;
                    font-size: .85em;
                }
            }

        }

        p {
            margin: 0px;
            font-size: .85em;
        }

        .checkout {
            display: block;
            background-color: mediumpurple;
            color: floralwhite;
            margin-top: 30px;
            margin-left: 30%;
            padding: 5px;
            border-radius: 8px;

           
        }
    }
}